body {
    background-image: url(../img/pexels-dapo-abideen-5677459.jpg);
}

.nav {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(5, 5, 121);
    opacity: 80%;
}

ul {
    width: 100vh;
    list-style-type: none;
    display: flex;
    justify-content: center;
}

li {
    width: 100px;
    height: 50px;
    font-size: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    opacity: 100%;
}


.dropdown {
    width: 100px;
    height: 50px;
    font-size: 42px;
    margin: 30px;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute; 
    min-width: 100px;
    background-color: rgb(5, 5, 121);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.withdraw {
    display: flex;
    justify-content: center;
}

.top {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1 {
    color: rgb(228, 206, 13);
    border-bottom: 3px solid;
}

.card {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.card1 {
    width: 500px;
    height: 300px;
    background-color: rgb(13, 13, 70);
    border-radius: 20px;
    display: grid;
    grid-template-columns: 25px 50px 50px 75px 100px 125px 50px 25px;
    grid-template-rows: 80px 30px 30px 30px 30px 30px 30px 30px 30px;
    opacity: 80%;
}

.card1:hover {
    border: 2px solid;
    border-color: white;
    opacity: 100%;
}

.alliance {
    height: 40px;
    color: white;
    border-bottom: 2px solid;
    grid-column: 5 / 6;
    display: flex;
    justify-content: center;
}

.c1 {
    color: white;
    grid-column: 3 /4;
    grid-row: 2 / 3;
}

.g1 {
    color: rgb(228, 206, 13);
    grid-column: 6 / 7;
    grid-row: 2 / 3;
}

.c2 {
    color: pink;
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

.g2 {
    color: rgb(228, 206, 13);
    grid-column: 6 / 7;
    grid-row: 3 / 4;
}

.card2 {
    width: 500px;
    height: 300px;
    background-color: rgb(129, 14, 14);
    border-radius: 20px;
    display: grid;
    grid-template-columns: 25px 50px 50px 75px 100px 125px 50px 25px;
    grid-template-rows: 80px 30px 30px 30px 30px 30px 30px 30px 30px;
    opacity: 80%;
}

.card2:hover {
    border: 2px solid;
    border-color: white;
    opacity: 100%;
}

.horde {
    height: 40px;
    color: white;
    border-bottom: 2px solid;
    grid-column: 5 / 6;
    display: flex;
    justify-content: center;
}

.c3 {
    color: rgba(161, 130, 37, 0.863);
    grid-column: 3 /4;
    grid-row: 2 / 3;
}

.c4 {
    color: greenyellow;
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

.button1 {
    width: 250px;
    height: 30px;
    grid-column: 4;
    grid-row: 7;
    background-color: rgb(18, 18, 119);
    border-radius: 4px;
    border-color: rgb(18, 18, 119);
    color: whitesmoke
}

.button2 {
    width: 250px;
    height: 30px;
    grid-column: 4;
    grid-row: 7; 
    background-color: red; 
    border-radius: 4px;
    border-color: red;
    color: whitesmoke;
}

.button1:hover {
    cursor: pointer;
    background-color: red;
    transition-delay: 0.2s;
    transition-duration: 1.5s;
    height: 60px;
}

.button2:hover {
    cursor: pointer;
    background-color: rgb(13, 13, 70);
    border-color: rgb(13, 13, 70);
    transition-delay: 0.2s;
    transition-duration: 1.5s;
    height: 60px;
}

.link {
    height: 400px;
    display: flex;
    justify-content: center;
}

.bnet-container {
    width: 1050px;
    height: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 300px 50px;
    grid-template-rows: 10px 20px 20px 20px 20px 20px;
}

.bnet {
    font-size: 30px;
    color: dodgerblue;
}

.question {
    font-size: 15px;
    grid-column: 3 / 4;
}

.help {
    width: 300px;
    height: 20px;
    font-size: 25px;
    grid-column-end: 4;
    grid-row: 3 / 4;
    display: flex;
    justify-content: end;
    color: dodgerblue;
}

a:link {text-decoration: none;}
a:visited { text-decoration: none;}
a:hover { text-decoration: none;}
a:active { text-decoration: none; }

@media screen and (max-width: 500px){
    .nav {
        width: 350px;
        display: flex;
        justify-content: start;
    }
}

@media screen and (max-width: 500px){
    .dropdown, .deposit, .withdraw {
        display: none;
    }
}

@media screen and (max-width: 500px){
    ul {
        display: flex;
        justify-content: start;
    }
}

@media screen and (max-width: 500px){
    .card {
        width: 350px;
        height: 800px;
        display: flex;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 500px){
    .card1, .card2 {
        width: 340px;
    }
}

@media screen and (max-width: 500px){

    .alliance, .horde {
        grid-column: 4 / 5;
    }

    .c1, .c3 {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    .g1 {
        grid-column: 5 / 6;
    }

    .c2, .c4 {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }

    .g2 {
        grid-column: 5 / 6;
    }

    .button1, .button2 {
        width: 200px;
        grid-column: 3 / 5;
    }

    .link {
        height: 200px;
    }

    .bnet-container {
        width: 350px;
        height: 100px;
    }

    .bnet, .question, .help {
        font-size: 15px;
    }

    .question {
        width: 300px;
        height: 25px;
        display: inline-block;
        grid-row-start: 3;
    }

    .help {
        grid-row: 5 / 6;
    }
}